:root {
    --main: #284692;
    --secondary: #61B32A;
    --custom-red: #cc0000;
    --custom-white: #f1f1f1;
  }

.main-color {
    color: var(--main);
}

.secondary-color {
    color: var(--secondary);
}
